node_modules/
.next/
.turbo/
.cache/
dist/
build/
out/
.venv/
venv/
expo-env.d.ts
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.expo/
*.jks
*.p8
*.pyc
*.keystore
ios/
android/
.gradle/
bin/
*.class
*.jar
*.war
*.log
.settings/
.project
.classpath