#Mahika Bagri 
#30 March 2026

# VS Code
.vscode/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java / compiled classes
*.class
*.log
.apt_generated/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Docs
HELP.md